<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjp.dao.shiro.mapper.promotionTaskMapper">
  <resultMap id="BaseResultMap" type="com.wjp.dao.shiro.entity.promotionTask">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="task_no" jdbcType="VARCHAR" property="taskNo" />
    <result column="task_desc" jdbcType="VARCHAR" property="taskDesc" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="source" jdbcType="TINYINT" property="source" />
    <result column="task_sort" jdbcType="INTEGER" property="taskSort" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="is_default" jdbcType="TINYINT" property="isDefault" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
    <result column="rule_type" jdbcType="TINYINT" property="ruleType" />
    <result column="kie_session_id" jdbcType="VARCHAR" property="kieSessionId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <insert id="insert" parameterType="com.wjp.dao.shiro.entity.promotionTask">
    insert into t_promotion_task (id, task_name, task_no, 
      task_desc, product_code, event_type, 
      source, task_sort, start_time, 
      end_time, is_default, is_valid, 
      rule_type, kie_session_id, created_time, 
      updated_time)
    values (#{id,jdbcType=BIGINT}, #{taskName,jdbcType=VARCHAR}, #{taskNo,jdbcType=VARCHAR}, 
      #{taskDesc,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, #{eventType,jdbcType=VARCHAR}, 
      #{source,jdbcType=TINYINT}, #{taskSort,jdbcType=INTEGER}, #{startTime,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=VARCHAR}, #{isDefault,jdbcType=TINYINT}, #{isValid,jdbcType=TINYINT}, 
      #{ruleType,jdbcType=TINYINT}, #{kieSessionId,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wjp.dao.shiro.entity.promotionTask">
    insert into t_promotion_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskName != null">
        task_name,
      </if>
      <if test="taskNo != null">
        task_no,
      </if>
      <if test="taskDesc != null">
        task_desc,
      </if>
      <if test="productCode != null">
        product_code,
      </if>
      <if test="eventType != null">
        event_type,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="taskSort != null">
        task_sort,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="ruleType != null">
        rule_type,
      </if>
      <if test="kieSessionId != null">
        kie_session_id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskNo != null">
        #{taskNo,jdbcType=VARCHAR},
      </if>
      <if test="taskDesc != null">
        #{taskDesc,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="eventType != null">
        #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=TINYINT},
      </if>
      <if test="taskSort != null">
        #{taskSort,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=TINYINT},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=TINYINT},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=TINYINT},
      </if>
      <if test="kieSessionId != null">
        #{kieSessionId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.wjp.dao.shiro.entity.promotionTask">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="task_no" jdbcType="VARCHAR" property="taskNo" />
    <result column="task_desc" jdbcType="VARCHAR" property="taskDesc" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="source" jdbcType="TINYINT" property="source" />
    <result column="task_sort" jdbcType="INTEGER" property="taskSort" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="is_default" jdbcType="TINYINT" property="isDefault" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
    <result column="rule_type" jdbcType="TINYINT" property="ruleType" />
    <result column="kie_session_id" jdbcType="VARCHAR" property="kieSessionId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <insert id="insert" parameterType="com.wjp.dao.shiro.entity.promotionTask">
    insert into t_promotion_task (id, task_name, task_no, 
      task_desc, product_code, event_type, 
      source, task_sort, start_time, 
      end_time, is_default, is_valid, 
      rule_type, kie_session_id, created_time, 
      updated_time)
    values (#{id,jdbcType=BIGINT}, #{taskName,jdbcType=VARCHAR}, #{taskNo,jdbcType=VARCHAR}, 
      #{taskDesc,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, #{eventType,jdbcType=VARCHAR}, 
      #{source,jdbcType=TINYINT}, #{taskSort,jdbcType=INTEGER}, #{startTime,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=VARCHAR}, #{isDefault,jdbcType=TINYINT}, #{isValid,jdbcType=TINYINT}, 
      #{ruleType,jdbcType=TINYINT}, #{kieSessionId,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wjp.dao.shiro.entity.promotionTask">
    insert into t_promotion_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskName != null">
        task_name,
      </if>
      <if test="taskNo != null">
        task_no,
      </if>
      <if test="taskDesc != null">
        task_desc,
      </if>
      <if test="productCode != null">
        product_code,
      </if>
      <if test="eventType != null">
        event_type,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="taskSort != null">
        task_sort,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="ruleType != null">
        rule_type,
      </if>
      <if test="kieSessionId != null">
        kie_session_id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskNo != null">
        #{taskNo,jdbcType=VARCHAR},
      </if>
      <if test="taskDesc != null">
        #{taskDesc,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="eventType != null">
        #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=TINYINT},
      </if>
      <if test="taskSort != null">
        #{taskSort,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=TINYINT},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=TINYINT},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=TINYINT},
      </if>
      <if test="kieSessionId != null">
        #{kieSessionId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.wjp.dao.shiro.entity.promotionTask">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="task_no" jdbcType="VARCHAR" property="taskNo" />
    <result column="task_desc" jdbcType="VARCHAR" property="taskDesc" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="source" jdbcType="TINYINT" property="source" />
    <result column="task_sort" jdbcType="INTEGER" property="taskSort" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="is_default" jdbcType="TINYINT" property="isDefault" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
    <result column="rule_type" jdbcType="TINYINT" property="ruleType" />
    <result column="kie_session_id" jdbcType="VARCHAR" property="kieSessionId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <insert id="insert" parameterType="com.wjp.dao.shiro.entity.promotionTask">
    insert into t_promotion_task (id, task_name, task_no, 
      task_desc, product_code, event_type, 
      source, task_sort, start_time, 
      end_time, is_default, is_valid, 
      rule_type, kie_session_id, created_time, 
      updated_time)
    values (#{id,jdbcType=BIGINT}, #{taskName,jdbcType=VARCHAR}, #{taskNo,jdbcType=VARCHAR}, 
      #{taskDesc,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, #{eventType,jdbcType=VARCHAR}, 
      #{source,jdbcType=TINYINT}, #{taskSort,jdbcType=INTEGER}, #{startTime,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=VARCHAR}, #{isDefault,jdbcType=TINYINT}, #{isValid,jdbcType=TINYINT}, 
      #{ruleType,jdbcType=TINYINT}, #{kieSessionId,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wjp.dao.shiro.entity.promotionTask">
    insert into t_promotion_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskName != null">
        task_name,
      </if>
      <if test="taskNo != null">
        task_no,
      </if>
      <if test="taskDesc != null">
        task_desc,
      </if>
      <if test="productCode != null">
        product_code,
      </if>
      <if test="eventType != null">
        event_type,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="taskSort != null">
        task_sort,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="ruleType != null">
        rule_type,
      </if>
      <if test="kieSessionId != null">
        kie_session_id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskNo != null">
        #{taskNo,jdbcType=VARCHAR},
      </if>
      <if test="taskDesc != null">
        #{taskDesc,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="eventType != null">
        #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=TINYINT},
      </if>
      <if test="taskSort != null">
        #{taskSort,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=TINYINT},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=TINYINT},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=TINYINT},
      </if>
      <if test="kieSessionId != null">
        #{kieSessionId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.wjp.dao.shiro.entity.promotionTask">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="task_no" jdbcType="VARCHAR" property="taskNo" />
    <result column="task_desc" jdbcType="VARCHAR" property="taskDesc" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="source" jdbcType="TINYINT" property="source" />
    <result column="task_sort" jdbcType="INTEGER" property="taskSort" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="is_default" jdbcType="TINYINT" property="isDefault" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
    <result column="rule_type" jdbcType="TINYINT" property="ruleType" />
    <result column="kie_session_id" jdbcType="VARCHAR" property="kieSessionId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <insert id="insert" parameterType="com.wjp.dao.shiro.entity.promotionTask">
    insert into t_promotion_task (id, task_name, task_no, 
      task_desc, product_code, event_type, 
      source, task_sort, start_time, 
      end_time, is_default, is_valid, 
      rule_type, kie_session_id, created_time, 
      updated_time)
    values (#{id,jdbcType=BIGINT}, #{taskName,jdbcType=VARCHAR}, #{taskNo,jdbcType=VARCHAR}, 
      #{taskDesc,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, #{eventType,jdbcType=VARCHAR}, 
      #{source,jdbcType=TINYINT}, #{taskSort,jdbcType=INTEGER}, #{startTime,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=VARCHAR}, #{isDefault,jdbcType=TINYINT}, #{isValid,jdbcType=TINYINT}, 
      #{ruleType,jdbcType=TINYINT}, #{kieSessionId,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wjp.dao.shiro.entity.promotionTask">
    insert into t_promotion_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskName != null">
        task_name,
      </if>
      <if test="taskNo != null">
        task_no,
      </if>
      <if test="taskDesc != null">
        task_desc,
      </if>
      <if test="productCode != null">
        product_code,
      </if>
      <if test="eventType != null">
        event_type,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="taskSort != null">
        task_sort,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="ruleType != null">
        rule_type,
      </if>
      <if test="kieSessionId != null">
        kie_session_id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskNo != null">
        #{taskNo,jdbcType=VARCHAR},
      </if>
      <if test="taskDesc != null">
        #{taskDesc,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="eventType != null">
        #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=TINYINT},
      </if>
      <if test="taskSort != null">
        #{taskSort,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=TINYINT},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=TINYINT},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=TINYINT},
      </if>
      <if test="kieSessionId != null">
        #{kieSessionId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>