<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjp.dao.shiro.mapper.PromotionPlanMapper">
  <resultMap id="BaseResultMap" type="com.wjp.dao.shiro.entity.PromotionPlan">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="plan_name" jdbcType="VARCHAR" property="planName" />
    <result column="plan_desc" jdbcType="VARCHAR" property="planDesc" />
    <result column="promote_mode" jdbcType="TINYINT" property="promoteMode" />
    <result column="promote_system" jdbcType="VARCHAR" property="promoteSystem" />
    <result column="delay_time" jdbcType="INTEGER" property="delayTime" />
    <result column="rule_type" jdbcType="TINYINT" property="ruleType" />
    <result column="kie_session_id" jdbcType="VARCHAR" property="kieSessionId" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <insert id="insert" parameterType="com.wjp.dao.shiro.entity.PromotionPlan">
    insert into t_promotion_plan (id, plan_name, plan_desc, 
      promote_mode, promote_system, delay_time, 
      rule_type, kie_session_id, is_valid, 
      created_time, updated_time)
    values (#{id,jdbcType=BIGINT}, #{planName,jdbcType=VARCHAR}, #{planDesc,jdbcType=VARCHAR}, 
      #{promoteMode,jdbcType=TINYINT}, #{promoteSystem,jdbcType=VARCHAR}, #{delayTime,jdbcType=INTEGER}, 
      #{ruleType,jdbcType=TINYINT}, #{kieSessionId,jdbcType=VARCHAR}, #{isValid,jdbcType=TINYINT}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wjp.dao.shiro.entity.PromotionPlan">
    insert into t_promotion_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="planName != null">
        plan_name,
      </if>
      <if test="planDesc != null">
        plan_desc,
      </if>
      <if test="promoteMode != null">
        promote_mode,
      </if>
      <if test="promoteSystem != null">
        promote_system,
      </if>
      <if test="delayTime != null">
        delay_time,
      </if>
      <if test="ruleType != null">
        rule_type,
      </if>
      <if test="kieSessionId != null">
        kie_session_id,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="planName != null">
        #{planName,jdbcType=VARCHAR},
      </if>
      <if test="planDesc != null">
        #{planDesc,jdbcType=VARCHAR},
      </if>
      <if test="promoteMode != null">
        #{promoteMode,jdbcType=TINYINT},
      </if>
      <if test="promoteSystem != null">
        #{promoteSystem,jdbcType=VARCHAR},
      </if>
      <if test="delayTime != null">
        #{delayTime,jdbcType=INTEGER},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=TINYINT},
      </if>
      <if test="kieSessionId != null">
        #{kieSessionId,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=TINYINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.wjp.dao.shiro.entity.PromotionPlan">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="plan_name" jdbcType="VARCHAR" property="planName" />
    <result column="plan_desc" jdbcType="VARCHAR" property="planDesc" />
    <result column="promote_mode" jdbcType="TINYINT" property="promoteMode" />
    <result column="promote_system" jdbcType="VARCHAR" property="promoteSystem" />
    <result column="delay_time" jdbcType="INTEGER" property="delayTime" />
    <result column="rule_type" jdbcType="TINYINT" property="ruleType" />
    <result column="kie_session_id" jdbcType="VARCHAR" property="kieSessionId" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <insert id="insert" parameterType="com.wjp.dao.shiro.entity.PromotionPlan">
    insert into t_promotion_plan (id, plan_name, plan_desc, 
      promote_mode, promote_system, delay_time, 
      rule_type, kie_session_id, is_valid, 
      created_time, updated_time)
    values (#{id,jdbcType=BIGINT}, #{planName,jdbcType=VARCHAR}, #{planDesc,jdbcType=VARCHAR}, 
      #{promoteMode,jdbcType=TINYINT}, #{promoteSystem,jdbcType=VARCHAR}, #{delayTime,jdbcType=INTEGER}, 
      #{ruleType,jdbcType=TINYINT}, #{kieSessionId,jdbcType=VARCHAR}, #{isValid,jdbcType=TINYINT}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wjp.dao.shiro.entity.PromotionPlan">
    insert into t_promotion_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="planName != null">
        plan_name,
      </if>
      <if test="planDesc != null">
        plan_desc,
      </if>
      <if test="promoteMode != null">
        promote_mode,
      </if>
      <if test="promoteSystem != null">
        promote_system,
      </if>
      <if test="delayTime != null">
        delay_time,
      </if>
      <if test="ruleType != null">
        rule_type,
      </if>
      <if test="kieSessionId != null">
        kie_session_id,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="planName != null">
        #{planName,jdbcType=VARCHAR},
      </if>
      <if test="planDesc != null">
        #{planDesc,jdbcType=VARCHAR},
      </if>
      <if test="promoteMode != null">
        #{promoteMode,jdbcType=TINYINT},
      </if>
      <if test="promoteSystem != null">
        #{promoteSystem,jdbcType=VARCHAR},
      </if>
      <if test="delayTime != null">
        #{delayTime,jdbcType=INTEGER},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=TINYINT},
      </if>
      <if test="kieSessionId != null">
        #{kieSessionId,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=TINYINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.wjp.dao.shiro.entity.PromotionPlan">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="plan_name" jdbcType="VARCHAR" property="planName" />
    <result column="plan_desc" jdbcType="VARCHAR" property="planDesc" />
    <result column="promote_mode" jdbcType="TINYINT" property="promoteMode" />
    <result column="promote_system" jdbcType="VARCHAR" property="promoteSystem" />
    <result column="delay_time" jdbcType="INTEGER" property="delayTime" />
    <result column="rule_type" jdbcType="TINYINT" property="ruleType" />
    <result column="kie_session_id" jdbcType="VARCHAR" property="kieSessionId" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <insert id="insert" parameterType="com.wjp.dao.shiro.entity.PromotionPlan">
    insert into t_promotion_plan (id, plan_name, plan_desc, 
      promote_mode, promote_system, delay_time, 
      rule_type, kie_session_id, is_valid, 
      created_time, updated_time)
    values (#{id,jdbcType=BIGINT}, #{planName,jdbcType=VARCHAR}, #{planDesc,jdbcType=VARCHAR}, 
      #{promoteMode,jdbcType=TINYINT}, #{promoteSystem,jdbcType=VARCHAR}, #{delayTime,jdbcType=INTEGER}, 
      #{ruleType,jdbcType=TINYINT}, #{kieSessionId,jdbcType=VARCHAR}, #{isValid,jdbcType=TINYINT}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wjp.dao.shiro.entity.PromotionPlan">
    insert into t_promotion_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="planName != null">
        plan_name,
      </if>
      <if test="planDesc != null">
        plan_desc,
      </if>
      <if test="promoteMode != null">
        promote_mode,
      </if>
      <if test="promoteSystem != null">
        promote_system,
      </if>
      <if test="delayTime != null">
        delay_time,
      </if>
      <if test="ruleType != null">
        rule_type,
      </if>
      <if test="kieSessionId != null">
        kie_session_id,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="planName != null">
        #{planName,jdbcType=VARCHAR},
      </if>
      <if test="planDesc != null">
        #{planDesc,jdbcType=VARCHAR},
      </if>
      <if test="promoteMode != null">
        #{promoteMode,jdbcType=TINYINT},
      </if>
      <if test="promoteSystem != null">
        #{promoteSystem,jdbcType=VARCHAR},
      </if>
      <if test="delayTime != null">
        #{delayTime,jdbcType=INTEGER},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=TINYINT},
      </if>
      <if test="kieSessionId != null">
        #{kieSessionId,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=TINYINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.wjp.dao.shiro.entity.PromotionPlan">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="plan_name" jdbcType="VARCHAR" property="planName" />
    <result column="plan_desc" jdbcType="VARCHAR" property="planDesc" />
    <result column="promote_mode" jdbcType="TINYINT" property="promoteMode" />
    <result column="promote_system" jdbcType="VARCHAR" property="promoteSystem" />
    <result column="delay_time" jdbcType="INTEGER" property="delayTime" />
    <result column="rule_type" jdbcType="TINYINT" property="ruleType" />
    <result column="kie_session_id" jdbcType="VARCHAR" property="kieSessionId" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <insert id="insert" parameterType="com.wjp.dao.shiro.entity.PromotionPlan">
    insert into t_promotion_plan (id, plan_name, plan_desc, 
      promote_mode, promote_system, delay_time, 
      rule_type, kie_session_id, is_valid, 
      created_time, updated_time)
    values (#{id,jdbcType=BIGINT}, #{planName,jdbcType=VARCHAR}, #{planDesc,jdbcType=VARCHAR}, 
      #{promoteMode,jdbcType=TINYINT}, #{promoteSystem,jdbcType=VARCHAR}, #{delayTime,jdbcType=INTEGER}, 
      #{ruleType,jdbcType=TINYINT}, #{kieSessionId,jdbcType=VARCHAR}, #{isValid,jdbcType=TINYINT}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wjp.dao.shiro.entity.PromotionPlan">
    insert into t_promotion_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="planName != null">
        plan_name,
      </if>
      <if test="planDesc != null">
        plan_desc,
      </if>
      <if test="promoteMode != null">
        promote_mode,
      </if>
      <if test="promoteSystem != null">
        promote_system,
      </if>
      <if test="delayTime != null">
        delay_time,
      </if>
      <if test="ruleType != null">
        rule_type,
      </if>
      <if test="kieSessionId != null">
        kie_session_id,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="planName != null">
        #{planName,jdbcType=VARCHAR},
      </if>
      <if test="planDesc != null">
        #{planDesc,jdbcType=VARCHAR},
      </if>
      <if test="promoteMode != null">
        #{promoteMode,jdbcType=TINYINT},
      </if>
      <if test="promoteSystem != null">
        #{promoteSystem,jdbcType=VARCHAR},
      </if>
      <if test="delayTime != null">
        #{delayTime,jdbcType=INTEGER},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=TINYINT},
      </if>
      <if test="kieSessionId != null">
        #{kieSessionId,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=TINYINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>