<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjp.dao.shiro.mapper.PromotionRecordMapper">
  <resultMap id="BaseResultMap" type="com.wjp.dao.shiro.entity.PromotionRecord">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="original_id" jdbcType="BIGINT" property="originalId" />
    <result column="plan_id" jdbcType="BIGINT" property="planId" />
    <result column="push_result" jdbcType="TINYINT" property="pushResult" />
    <result column="failure_reason" jdbcType="VARCHAR" property="failureReason" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <insert id="insert" parameterType="com.wjp.dao.shiro.entity.PromotionRecord">
    insert into t_promotion_record (id, original_id, plan_id, 
      push_result, failure_reason, created_time, 
      updated_time)
    values (#{id,jdbcType=BIGINT}, #{originalId,jdbcType=BIGINT}, #{planId,jdbcType=BIGINT}, 
      #{pushResult,jdbcType=TINYINT}, #{failureReason,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wjp.dao.shiro.entity.PromotionRecord">
    insert into t_promotion_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="originalId != null">
        original_id,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
      <if test="pushResult != null">
        push_result,
      </if>
      <if test="failureReason != null">
        failure_reason,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="originalId != null">
        #{originalId,jdbcType=BIGINT},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=BIGINT},
      </if>
      <if test="pushResult != null">
        #{pushResult,jdbcType=TINYINT},
      </if>
      <if test="failureReason != null">
        #{failureReason,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.wjp.dao.shiro.entity.PromotionRecord">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="original_id" jdbcType="BIGINT" property="originalId" />
    <result column="plan_id" jdbcType="BIGINT" property="planId" />
    <result column="push_result" jdbcType="TINYINT" property="pushResult" />
    <result column="failure_reason" jdbcType="VARCHAR" property="failureReason" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <insert id="insert" parameterType="com.wjp.dao.shiro.entity.PromotionRecord">
    insert into t_promotion_record (id, original_id, plan_id, 
      push_result, failure_reason, created_time, 
      updated_time)
    values (#{id,jdbcType=BIGINT}, #{originalId,jdbcType=BIGINT}, #{planId,jdbcType=BIGINT}, 
      #{pushResult,jdbcType=TINYINT}, #{failureReason,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wjp.dao.shiro.entity.PromotionRecord">
    insert into t_promotion_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="originalId != null">
        original_id,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
      <if test="pushResult != null">
        push_result,
      </if>
      <if test="failureReason != null">
        failure_reason,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="originalId != null">
        #{originalId,jdbcType=BIGINT},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=BIGINT},
      </if>
      <if test="pushResult != null">
        #{pushResult,jdbcType=TINYINT},
      </if>
      <if test="failureReason != null">
        #{failureReason,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>